<div class='container'>
  <h2>Описание протокола pushkin-contest</h2>

  <p>Суть соревнования - первым успеть дать ответ на задание, связанное сос стихами А. С. Пушкина =)<br>
    В соревновании учавствуют только сервера, размещенные на heroku.</p>

  <h3>Регистрация</h3>
  <p>При регистрации на сайте pushkin-contest.ror.by пользователь должен указать свой никнейм и адрес своего приложения (принимаются только приложения, имеющие адреса вида '<b>http://myapp.herokuapp.com</b>')</p>
  <p>В процессе регистрацию на сервер пользователя по адресу 'http://myapp.herokuapp.com<b>/registration</b>' будет отправлено POST запросом тестовое задание</p>

  <div class="well">
    <p>params[:question] - тестовый вопрос<br>
      params[:token] - токен пользователя, который <b>необходимо сохранить и использовать в дальнейшем при отправке заданий</b>.</p>
  </div>
  <p>Токен представляет собой строку вида '7baced8d61aa5d47e0a7059c1ceaa4ba'</p>
  <p><b>Пример тестового задания</b></p>
  <p><b>Вопрос</b>:  'Буря %WORD% небо кроет, Вихри снежные крутя'<br>
    <b>Ответ пользователя</b>: 'мглою'</p>

  <p>Отправить ответ можно следующим образом:</p>

  <div class="well">
    <p>render text: 'мглою'</p>
  </div>

  <b>Вопрос в реальном приложении будет изменен, пользователь должен сам озаботиться получением подходящего ответа.</b>

  <h3>Задания</h3>

  <p>Задания, генерируемые сервером, имеют 5 уровней сложности:</p>

  <ol>
    <li><b>Вопрос</b>: одна строчка из любого стихотворения. <b>Ответ</b>: название стихотворения</li>
    <li><b>Вопрос</b>: одна строчка из любого стихотворения c одним замененным словом (слово заменяется на <b>%WORD%</b>) <b>Ответ</b>: замененное слово</li>
    <li><b>Вопрос</b>: две строчки из разных стихотворений c одним замененным словом в каждой (слово заменяется на <b>%WORD%</b>, строчки отделяются друг от друга с помощью <b>%NEWLINE%</b>) <b>Ответ</b>: два замененных слова в порядке следования строк через пробел</li>
    <li><b>Вопрос</b>: три строчки из разных стихотворений c одним замененным словом в каждой (слово заменяется на <b>%WORD%</b>, строчки отделяются друг от друга с помощью <b>%NEWLINE%</b>) <b>Ответ</b>: три замененных слова в порядке следования строк через пробел</li>
    <li><b>Вопрос</b>: одна строчка из любого стихотворения c одним замененным словом (слово заменяется на любое слово, выбранное из стихотворений Пушкина) <b>Ответ</b>:  замененное слово и его правильный вариант через пробел</li>
  </ol>

  <p>Пример вопроса:</p>
  <div class="well">
    <p><b>Вопрос</b>: 'Усердно %WORD% богу, %NEWLINE% Кто изменил %WORD% привычке?'<br>
      <b>Ответ</b>: 'помолившись пленительной'</p>
  </div>


  <p>Задания посылаются сервером с помощью POST запроса на 'http://myapp.herokuapp.com<b>/quiz</b>'. Соответственно, клиент должен содержать контроллер для обработки запросов по этому адресу.</p>

  <div class="well">
    <p>params[:level]- уровень задания<br>
      params[:task_id]- id задания<br>
      params[:question]- вопрос</p>
  </div>

  <p>Ответ пользователя должен быть послан следующим образом:</p>

  <div class="well">
    <p>uri = URI("http://pushkin-contest.ror.by")<br>
      parameters = {answer: <b>'ваш ответ'</b>, token: <b>'ваш токен (см. процесс регистрации)'</b>, task_id:  <b>'id задачи (передано ранее)'</b>}<br>
      Net::HTTP.post_form(uri, parameters)</p>
  </div>

  <p>Сервер проверяет правильность выполнения задания и начисляет пользователю <b>1 балл рейтинга</b>, если он ответил первым. Затем генерируется новое задание соответствующего уровня и посылается всем пользователям этого уровня.<br>

  <p>Пользователи также имеют систему уровней, уровень определяется рейтингом пользователя. Пользователю отсылаются задания только его уровня сложности.</p>

  <h3>Ответы сервера</h3>

  <p>Для контроля пользователем своих результатов предназначены ответы сервера.</p>
  <p>Они посылаются в POST запросе на путь 'http://myapp.herokuapp.com<b>/result</b>'</p>

  <p>Возможные варианты:</p>
  <ul>
    <li><b>Correct</b> - задание принято, рейтинг пользователя увеличен</li>
    <li><b>Wrong</b> - на задание дан неправильный ответ</li>
  </ul>

  <p>Пример ответа сервера</p>
  <div class="well">
    <p>params[:message] == 'Correct'</p>
  </div>
</div>
