<div class='container'>
  <h2>Описание протокола pushkin-contest</h2>

  <p>Суть соревнования - первым успеть дать ответ на задание, связанное сос стихами А. С. Пушкина =)<br>
    В соревновании учавствуют только сервера, размещенные на heroku.</p>

  <h3>Регистрация</h3>
  <p>При регистрации на сайте pushkin-contest.ror.by пользователь должен указать свое имя (<b>USERNAME</b>) и адрес своего приложения (<b>APP_URL</b>). Принимаются только приложения, имеющие адреса вида '<b>http://myapp.herokuapp.com</b>'</p>
  <p>В процессе регистрации высылается token пользователя на адрес 'APP_URL<b>/registration</b>'. Запрос имеет тип <b>POST</b></p>

  <div class="well">
    <p>params[:question] - тестовый вопрос<br>
    <p>params[:token] - токен пользователя (<b>USER_TOKEN</b>), который необходимо сохранить и использовать в дальнейшем при отправке заданий.</p>
  </div>
  <p>Токен представляет собой строку вида '7baced8d61aa5d47e0a7059c1ceaa4ba'</p>
  <p><b>Пример тестового задания</b></p>
  <p><b>Вопрос</b>:  'Буря %WORD% небо кроет, Вихри снежные крутя'<br>
  <b>Ответ пользователя</b>: {answer: 'мглою'}</p>

  <p>Отправить ответ можно следующим образом:</p>

  <div class="well">
    <p>render json: {answer: 'мглою'}</p>
  </div>

  <h3>Задания</h3>

  <p>После регистрации сервер будет отправлять задания по адресу APP_URL<b>/quiz</b>. Запросы имеют тип POST. Ответ пользователя должен быть пустым со статусом 2XX. Пример: render nothing: true. Ответ на задание посылается отдельным HTTP запросом.</p>

  <p>Пример вопроса:</p>
  <div class="well">
    <p><b>Вопрос</b>:</p>
    <pre>
{
  "question" => "Отчизны внемлем призыванье",
  "id"       => 6595, # <b>TASK_ID</b>
  "level"    => 1,
}
    </pre>
    <p><b>Ответ</b>:</p>
    <pre>
{
  "answer"  => "К Чeдаеву",
  "token"   => <b>USER_TOKEN</b>,
  "task_id" => <b>TASK_ID</b>
}
    </pre>
  </div>

  <p>Ответ пользователя должен быть послан следующим образом:</p>

  <div class="well">
    <pre>
uri = URI("http://pushkin-contest.ror.by")
parameters = {
  answer: <b>'ваш ответ'</b>,
  token: <b>'USER_TOKEN (см. процесс регистрации)'</b>,
  task_id:  <b>'id задачи (передано ранее)'</b>
}
Net::HTTP.post_form(uri, parameters)
    </pre>
  </div>

  <p>Сервер проверяет правильность выполнения задания и начисляет пользователю <b>1 балл рейтинга</b>, если он ответил первым. Затем генерируется новое задание соответствующего уровня и посылается всем пользователям этого уровня.<br>

  <p>Пользователи также имеют систему уровней, уровень определяется рейтингом пользователя. Пользователю отсылаются задания только его уровня сложности.</p>

  <h3>Ответы сервера</h3>

  <p>Для контроля пользователем своих результатов предназначены ответы сервера.</p>
  <p>Они посылаются в POST запросе на путь 'APP_URL<b>/result</b>'</p>

  <p>Возможные варианты:</p>
  <ul>
    <li><b>Correct</b> - задание принято, рейтинг пользователя увеличен</li>
    <li><b>Wrong</b> - на задание дан неправильный ответ</li>
  </ul>

  <div class="well">
  <p>Пример ответа сервера:</p>
    <pre>
{
  "result" => "Correct"
}
    </pre>
  </div>

  <h3>Уровни сложности</h3>
  <p>Задания, генерируемые сервером, имеют 5 уровней сложности:</p>

  <ol>
    <li><b>Вопрос</b>: одна строчка из любого стихотворения. <br><b>Ответ</b>: название стихотворения</li><br>
    <li><b>Вопрос</b>: одна строчка из любого стихотворения c одним замененным словом (слово заменяется на <b>%WORD%</b>) <br><b>Ответ</b>: замененное слово</li><br>
    <li><b>Вопрос</b>: две строчки из разных стихотворений c одним замененным словом в каждой (слово заменяется на <b>%WORD%</b>, строчки отделяются друг от друга с помощью <b>%NEWLINE%</b>) <br><b>Ответ</b>: два замененных слова в порядке следования строк через пробел</li><br>
    <li><b>Вопрос</b>: три строчки из разных стихотворений c одним замененным словом в каждой (слово заменяется на <b>%WORD%</b>, строчки отделяются друг от друга с помощью <b>%NEWLINE%</b>) <br><b>Ответ</b>: три замененных слова в порядке следования строк через пробел</li><br>
    <li><b>Вопрос</b>: одна строчка из любого стихотворения c одним замененным словом (слово заменяется на любое слово, выбранное из стихотворений Пушкина) <b><br>Ответ</b>:  замененное слово и его правильный вариант через пробел</li><br>
  </ol>
</div>
